#backdrop {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    background:rgba(23, 15, 14, .75);
    z-index:9;
}

#modal {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    max-width:500px;
    min-width:300px;
    max-height:515px;
    min-height:365px;

    overflow-y: hidden;
    padding:15px;
    text-align:center;
    background:linear-gradient(rgb(103, 73, 64), rgb(76, 51, 46));
    box-shadow:0 10px 15px rgb(15, 7, 6);

    z-index:10;
}

.modal-title {
    text-align:center;
    width:100%;
    padding:5px;
    font-size:25px;
    border-radius:5px;
    background:rgb(45, 32, 30, .75);
    margin-bottom:5px;

}

#modal button{
    /* border-top:rgb(152, 118, 98) solid 2px;
    border-left:rgb(152, 118, 98) solid 2px;
    border-bottom:rgb(34, 18, 15) solid 2px;
    border-right:rgb(34, 18, 15) solid 2px; 
    */
    border:rgb(103, 73, 64) solid 2px;
    border-radius:5px;
    background:rgb(45, 32, 30);
    color:rgb(216, 180, 152);
}

#modal button:hover{
    border-color:rgb(216, 180, 152);
}

#modal button p {
    transform: translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
}

#modal input {
    padding:15px;
    margin-bottom:10px;
    font-size:20px;
    background:rgb(47, 33, 30);
    border-top:rgb(34, 18, 15) solid 2px;
    border-bottom:rgb(125, 78, 60) solid 2px;
    border-right:rgb(47, 29, 22) solid 2px;
    border-left:rgb(47, 29, 22) solid 2px;
    color:rgb(253, 214, 198);
}

#modal-name, #modal-value {
    width:100%;
}

#modal-qty {
    width:48%;
    left:0;
}

#modal-submit{
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    height: 50px;
    position: absolute;
    font-size:20px;
    width:60%;
    margin:0 auto;
    padding:15px;
}


#modal-submit p {
    position: absolute
}

#modal h1 {
    background:rgb(15, 7, 6);
    padding:5px;
}

.modal-close, #modal-trash {
    position:absolute;
    bottom:0;
    width:50px;
    height:50px;
    font-size:20px;
    z-index:10;
}

.modal-close {
    right:0;
}

#modal-trash {
    left:0;
}

#qty-editors-div {
    position:relative;
    margin-bottom:5px;
    height:65px;
    width:100%;
}

#qty-editors-div > * {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

#qty-buttons {
    right: 0;
    width: 48%;
    text-align:center;
}


.qty-editor {
    display:inline-block;
    margin:0 5px;
    font-size:20px;
    height:50px;
    width:50px;
    position:relative;
}

.qty-editor p {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#pocketbook-field {
    overflow-y: scroll;
    height:350px;
    padding-bottom: 30px;
}

@media only screen and (max-height: 400px) {

    #modal {
        height:90vh;
        min-height:initial;
        max-height:initial;
    }

    #modal-value {
        width: 33%;
    }

    #pocketbook-field {
        height: 100%; 
    }

    #modal input {
        width: 48%;
        margin: 0 2px;
        padding: 10px;
    }
}