.item {
    cursor:pointer;
    min-height:1em;
    background:rgb(22, 14, 17);
    margin-bottom:5px;
    font-size: 16px;
}

.item-legend {
    background:inherit;
    font-style:italic;
}

.item p, .item-legend p {
    display:inline-block;
    padding:10px;
}

.item-name {
    width:30%;
    overflow-wrap: break-word;
}

.item .item-value, .item .item-qty, .item .item-total {
    border-left:rgb(59, 43, 43) dashed 1px;
}

.item-value {
    width:25%;
}

.item-qty {
    width:15%;
}

.item-total {
    width: 30%;
}

.half-opacity {
    text-align:left;
    opacity: .5;
    margin-right: 4px;
}