.item {
    min-height:1em;
    background:rgb(22, 14, 17);
    margin-bottom:5px;
}

.item-legend {
    background:inherit;
    font-style:italic;
}

.item p, .item-legend p {
    display:inline-block;
    padding:10px;
}

.item-name {
    width:50%;
}

.item-value {
    width:25%;

}

.item-qty {
    width:25%;
}