* {
	box-sizing:border-box;
}

body {
    color:rgb(253, 214, 198);
    background: rgb(22, 14, 17);
    font-size:18px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

::-webkit-scrollbar{
    height:4px;
    width:4px;
}

::-webkit-scrollbar-track{
    background: inherit;
}

::-webkit-scrollbar-thumb{
    background:rgb(103, 73, 64);
}

button {
    cursor:pointer;
}

#dashboard {
    padding: 0px 10px;
    background:rgb(47, 36, 36);
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    overflow-y:hidden;
    white-space:nowrap;
    height: 100px;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

#dashboard > div {
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
    position: relative;
}

#inventory {
    position:fixed;
    top:105px;
    bottom:10px;
    left:0;
    right:80px;
    padding:10px;
    background:rgb(41, 29, 29);
    box-shadow: 0px 0px 15px inset rgba(17, 3, 5, .5)
}

#item-total {
    position:absolute;
    bottom:-55px;
    height:50px;
    padding:10px;
    border-top:rgb(78, 62, 58) solid 2px;
    background: rgb(22, 14, 17);
    left:0px;
    width:100%;
    display:none;
}

#item-total p {
    position:relative;
    display:inline-block;
    padding:5px;
    top:50%;
    transform:translateY(-50%);
}

#item-total-title {
    width:25%;
    border-right:rgb(103, 73, 64) solid 2px;
}

#item-total-val {
    width:50%;
    text-align:center;
    border-right:rgb(103, 73, 64) solid 2px;
}

#item-total-qty {
    width:25%;
    text-align:center;
}

#inv-buttons {
    padding: 5px;
    position:fixed;
    top: 105px;
    bottom:0;
    right:8px;
    width:70px;
}

#inv-buttons > * {
    display:inline-block;
    width:70px;
    height:70px;
    margin-bottom:5px;
    border:none;
    padding:none;
    border-radius:4px;

    text-align:center;

    background:rgb(103, 73, 64);
    color:inherit;

    position:absolute;
}

#inv-buttons >* p {
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}

#add-btn {
    top:0px;
    font-size:30px;
}

#trash {
    top:75px;
    font-size:30px;
}

#info {
    bottom:0px;
    font-size:30px;
}

#total {
    top:150px;
    font-size:30px;
}

#settings {
    top:225px;
    font-size:30px;
    display:none;
}

@media only screen and (max-width: 400px) {
    #inventory {
        right: 0;
        bottom: 80px;
    }

    #inv-buttons {
        top:initial;
        left:0;
        right: 0;
        width: 100vw;
        height: 80px;
        text-align:center;
    }

    #inv-buttons > * {
        transform: translateY(-30px);
        top: 30px;
        margin-right: 5px;
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        left: initial;
        right: initial;
        bottom: initial;
    }

    #settings {
        display:none;
    }

    #inv-buttons a {
        top: 36px;
        text-decoration: none;
        
    }
}

@media screen and (max-height: 530px) and (min-width: 401px){

    #dashboard {
        width: 100px;
        position:fixed;
        right:0;
        top: 0;
        bottom: 0;
        height: initial;
        overflow-y: scroll;
        padding: 0;
        white-space: initial;
        height: 100vh;
    }

    #dashboard > div {
        transform: translateX(50px);
        top: initial;
        right: 50px;
    }

    #inventory {
        right:60px;
        left: 105px;
        top: 10px;
    }
    
    #inv-buttons {
        top:5px;
        width:50px;
    }

    #inv-buttons > * {
        width:50px;
        height:50px;
        font-size:15px;
    }

    #trash {
        top: 55px;
    }

    #info {
        bottom:0px;
    }

    #total {
        top: 110px;
    }

    #settings {
        top:165px;
    }
}
/* 
.symbol-btn {
    font-size:30px;
} */