* {
	box-sizing:border-box;
}

body {
    color:rgb(253, 214, 198);
    background: rgb(32, 28, 28);
    font-size:20px;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

::-webkit-scrollbar{
    height:4px;
    width:4px;
}

::-webkit-scrollbar-track{
    background: inherit;
}

::-webkit-scrollbar-thumb{
    background:rgb(103, 73, 64);
}

button {
    cursor:pointer;
}

#inventory {
    position:absolute;
    top:154px;
    bottom:0px;
    left:0;
    right:75px;
    padding:10px;
    background:rgb(41, 29, 29);
}

#inv-buttons {
    position:absolute;
    top: 0px;
    bottom:0;
    right:-72px;
    width:70px;
}

#inv-buttons button {
    width:70px;
    height:70px;
    margin-bottom:5px;
    border:none;
    padding:none;
    border-radius:4px;

    background:rgb(103, 73, 64);
    color:inherit;

    position:absolute;
}

#add-btn {
    bottom:0px;
    font-size:30px;
}

#trash {
    top:0px;
}

#info {
    top:75px;
    font-size:30px;
}
/* 
.symbol-btn {
    font-size:30px;
} */