* {
	box-sizing:border-box;
}

body {
    color:rgb(253, 214, 198);
    background: rgb(32, 28, 28);
    font-size:20px;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

::-webkit-scrollbar{
    height:4px;
    width:4px;
}

::-webkit-scrollbar-track{
    background: inherit;
}

::-webkit-scrollbar-thumb{
    background:rgb(103, 73, 64);
}

button {
    cursor:pointer;
}

#dashboard {
    padding:15px;
    background:rgb(47, 36, 36);
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    overflow-y:hidden;
    white-space:nowrap;
    height:150px;
    width:100vw;
    position:relative;
}

#dashboard > * {
    display:inline-block;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

#inventory {
    position:absolute;
    top:154px;
    bottom:0px;
    left:0;
    right:80px;
    padding:10px;
    background:rgb(41, 29, 29);
    box-shadow: 0px 0px 15px inset rgba(17, 3, 5, .5)
}

#inv-buttons {
    position:absolute;
    top: 0px;
    bottom:0;
    right:-75px;
    width:70px;
}

#inv-buttons button {
    width:70px;
    height:70px;
    margin-bottom:5px;
    border:none;
    padding:none;
    border-radius:4px;

    text-align:center;

    background:rgb(103, 73, 64);
    color:inherit;

    position:absolute;
}

#inv-buttons button p {
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}

#add-btn {
    top:0px;
    font-size:30px;
}

#trash {
    bottom:0px;
    font-size:20px;
}

#info {
    top:75px;
    font-size:30px;
}

#total {
    top:150px;
    font-size:30px;
}

#settings {
    top:225px;
    font-size:30px;
    display:none;
}

@media only screen and (max-height: 530px){

    #dashboard {
        width:initial;
        position:absolute;
        right:60px;
        left:0px;
    }

    #inventory {
        right:60px;
        top: 155px;
    }
    
    #inv-buttons {
        top:-150px;
        width:50px;
        right:-55px;
    }

    #inv-buttons button {
        width:50px;
        height:50px;
        font-size:15px;
    }

    #info {
        top: 55px;
    }

    #total {
        top: 110px;
    }

    #settings {
        top:165px;
    }
}
/* 
.symbol-btn {
    font-size:30px;
} */