.pocket {
    cursor:pointer;
    width:100px;
    height:100px;
    box-shadow:0 5px 5px rgb(30, 17, 15);
    background:rgb(103, 73, 64);
    border-radius:5px;
    text-align:center;
    overflow:hidden;

    display:inline-block;
    margin:5px;
    position:relative;
}

.pocket h1, .pocket h2 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:50px;
}

.pocket h2{
    font-size:40px;
}

.pocket p{
    position:absolute;
    z-index:5;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width:100%;

    background:rgba(30, 17, 15, .75);
}