#dashboard {
    padding:15px;
    background:rgb(47, 36, 36);
    overflow-x: scroll;
    overflow-y:hidden;
    white-space:nowrap;
    height:150px;
}

#dashboard > * {
    display:inline-block;
    margin:5px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}